.box {
  background-color: #333;
  width: 256px;
}

.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size:  40px;
  font-family: Arial, Helvetica, sans-serif;
  width: 30px;
  cursor: pointer;

  /* create a small space when buttons wrap on 2 lines */
  margin: 5px 5px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 5px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #595959;
}


.thin {
  font-size: 14px;
  height: 20px;
  width: 160px;
  padding: 3px 40px;
}

.wide {
  width: 160px;
}

.network_status {
  background-color: orange;
}

.connected {
  background-color: blue;
}

.highlight {
  font-weight: bold;
  background-color: #5c8b99;
}
